<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About me</title>
	<meta name="author" content="Albert Caballero">
	<meta name="description" content="About Albert Caballero (me)">
	<link rel="icon" type="image/x-icon" href="/static/logo.png">
	<link rel="stylesheet" href="/static/albert_main.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mouse+Memoirs">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chakra+Petch">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play">
</head>
<body>
	<h1 style="margin-top: 10%;">PAGE NOT FOUND</h1>
	<p>The requested page was not found, make sure you typed the correct link.</p>
	<a class="btn" href="/">Home</a>
</body>

<style>
p{
	font-size: x-large;
	margin-bottom: 40px;
	letter-spacing: 1px;
}
</style>