<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="contact_links">
	<a href="/" class="fa fa-home"></a>
	<a href="https://www.github.com/albertcaballero" class="fa fa-github" target="_blank"></a>
	<a href="mailto:albertcaballerocoll@gmail.com" class="fa fa-envelope" target="_blank"></a>
	<a href="https://www.linkedin.com/in/albert-caballero-coll/" class="fa fa-linkedin-square" target="_blank"></a>
</div>

<style>
.contact_links{
	position: fixed;
	background-color: #00000046;
	padding: 10px;
	top: 50%;
	transform: translateY(-50%);
	display: grid;
	border-radius: 0px 10px 10px 0px;
	left: 0px;
}

.fa {
	padding: 5px;
	font-size: 35px;
	width: 40px;
	text-align: center;
	line-height: 45px;
	text-decoration: none;
	vertical-align: middle;
	transition: all 0.1s;
	color: rgb(51, 53, 177);
}
	.fa:hover {
	opacity: 0.7;
	font-size: 40px;
	}
</style>