<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About me</title>
	<meta name="author" content="Albert Caballero">
	<meta name="description" content="About Albert Caballero (me)">
	<link rel="icon" type="image/x-icon" href="/static/logo.png">
	<link rel="stylesheet" href="/static/albert_main.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mouse+Memoirs">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chakra+Petch">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play">
</head>
<body>
	{% include '_header_albert.html' %}
	{% include '_navbar.html' %}
	<div style="display: flex; align-items: center; justify-content: center;">
		<div style="text-align: left; width: 60%;">
			<h1>Programming career</h1>
			<p>
				I started my programming journey in May 2023 at <a href="https://42.fr/en/homepage/" target="_blank">42 schools</a> and since then I have not stopped.
				<br>I love what I do, and I hope this website and my projects are a reflection of that.
				<br><br>I started learning C at 42 and quickly started Python on my own (<a href="/squat_king/">Squat King</a>  was my first python project). 
				I learnt Ruby at my current job, and HTML + JS + CSS with this website and other small projects.
			</p>
			<h2>Other stuff</h2>
			<p>
				I like editing videos and <a href="/flowers">photographing flowers</a> (nature in general). 
				<br>I also like reading, specially fantasy (LotR, Arcane Ascension, TBATE...)
				<br>Health is very important, so I try to always keep exercising, currently preparing for a half marathon (21km)
			</p>
		</div>
	</div>
</body>

<style>
p{
	font-size: x-large;
	margin-bottom: 40px;
	letter-spacing: 1px;
}
</style>