<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My CV</title>
	<meta name="author" content="Albert Caballero">
	<meta name="description" content="Albert Caballero's website!">
	<link rel="icon" type="image/x-icon" href="/static/logo.png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mouse+Memoirs">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chakra+Petch">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
	<link rel="stylesheet" href="/static/albert_main.css">
</head>
<body>
	{% include '_header_albert.html' %}
	<div id="changelog" style="display: flex; align-items: center; justify-content: center;">
		<div style="text-align: left; width: 50%;">
			<h1 style="text-decoration: underline;">Experiences</h1>
			<div class="contact_links">
				<a href="https://www.github.com/albertcaballero" class="fa fa-github" target="_blank"></a>
				<a href="mailto:albertcaballerocoll@gmail.com" class="fa fa-envelope" target="_blank"></a>
				<a href="https://www.linkedin.com/in/albert-caballero-coll/" class="fa fa-linkedin-square" target="_blank"></a>
			</div>
			<div class="experience">
				<h2>Junior developer - Onizea (TecnoTramit)</h2>
				<h3>2024 - Present</h3>
				<p>
					In Onizea I learnt to work with big databases and mantain and work with my team in 4-stage code (beta, dev, alpha y prod).
					I managed to mantain and update legacy code to modern standards and practices,
					with a focus on optimization and lowering execution time.
				</p>
			</div>
			<div class="experience">
				<h2>Project consultant - XtraordinarY (XYbooster)</h2>
				<h3>2023 - 2023</h3>
				<p>
					XtraordinarY removes the learning difficulties for neurodivergent children. My role
					consisted on defining a path for the methodology and the product. Advising on
					potential failure points and areas of improvement. I had to manage various teams,
					adapting and using the previously done work, thus avoiding repetition.
				</p>
			</div>
			<div class="experience">
				<h2>Project assistant - Colors of Talent</h2>
				<h3>2021 - 2023</h3>
				<p>
					Colors of Talent was an edtech startup with the objective of helping kids regain their
					passion for learning. My role consisted on developing new ways of involving the users
					in their learning experience. I also managed the development and production of a
					mobile application, where I had to coordinate the design and production teams.
				</p>
			</div>
			<div class="experience">
				<h2>Waiter and delivery - Domino's Pizza</h2>
				<h3>2020 - 2021</h3>
				<p>
					I had to work under pressure and tight schedules, since there was a high volume of
					orders. I also had to deal with numerous customers on a daily basis. After joining, I
					quickly became a key member of the team, becoming employee of the month on
					multiple occasions, given my compromise with results and efficacy
				</p>
			</div>
		</div>
		<div class="vl"></div>
		<div style="text-align: left; width: 30%;">
			<div class="experience">
				<h2>Education</h2>
				<ul>
					<li><a href="https://www.ibo.org/" target="_blank">International Baccalaureate - IB</a></li>
					<li><a href="https://42.fr/en/homepage/" target="_blank">42 Barcelona</a></li>
				</ul>
			</div>
			<div class="experience">
				<h2>Other experiences</h2>
				<p>
					I have worked as a private tutor, bringing my students from failure to one of the best marks in a few weeks of classes, 
					thanks to my adaptability when explaining, tailoring my classes to each student's learning needs.
					<br>I also have developed personal projects like webs, servers and mods for videogames. 
					I can plan a project from zero and define the steps to a successful deployment.
				</p>
			</div>
			<div class="experience">
				<h2>Languages</h2>
				<ul>
					<li>Spanish (Native)</li>
					<li>Catalan (Native)</li>
					<li>English (Professional level - C2)</li>
					<li>German (Basic - A2)</li>
				</ul>
			</div>
		</div>
	</div>

</body>

<style>
p{
	font-size: larger;
}
.experience{
	margin-top: 50px;
}
.vl {
  border-left: 3px solid rgb(53, 55, 161);
  height: 700px;
  margin-left: 50px;
  margin-right: 50px;
}
</style>