<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Faster Reader</title>
	<meta name="author" content="Albert Caballero">
	<meta name="description" content="Albert Caballero's website!">
	<link rel="icon" type="image/x-icon" href="/static/logo.png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mouse+Memoirs">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chakra+Petch">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
	<link rel="stylesheet" href="/static/albert_main.css">
</head>
<body>
	{% include '_header_albert.html' %}
	<h1>Faster Reader</h1>
	<textarea style="width: 769px; height: 308px;"></textarea>
	<div style="margin-top: 20px;">
		<button id="startBtn">start</button>
		<button id="pauseBtn">pause</button>
		<button id="stopBtn" >stop</button>
	</div>
</body>

<script>

setup();
function setup(){

}

function start(){

}
</script>