<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hand cut</title>
	<meta name="author" content="Albert Caballero">
	<meta name="description" content="Hand tracking shortcuts for PC">
	<link rel="icon" type="image/x-icon" href="/static/logo.png">
	<link rel="stylesheet" href="/static/albert_main.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mouse+Memoirs">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chakra+Petch">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play">
	<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" /> 
</head>
<body>
	{% include '_header_albert.html' %}
	<div style="display: block; text-align: center;">
		<h1 style="font-size: 40px;">Hand-Cut</h1>
		<p>
			Hand Cut uses hand gestures to perform shortcuts.
			The program uses camera-based hand tracking to detect your hand's gesture.
			Made with Python using <a href="https://opencv.org/" target="_blank">OpenCV</a> and 
			<a href="https://ai.google.dev/edge/mediapipe/solutions/vision/pose_landmarker" target="_blank">Mediapipe</a>.
			<br>
			The idea is an extension of one of my projects, <a href="/squat_king" target="_blank">Squat King</a>. With more of a focus on
			customizability, since you can asign any pose with a shortcut. Thus meaning I need a way to save and store landmarks, for which I had 
			to create custom JSON parser and serializer.
			<br>
			I also needed a way to compare a "stored" pose with the pose that's being executed, 
			which opens a lot of decisions (should the pose take into account the position on-camera? does orientation matter? which is the main landmark? what is the error margin? etc.)
			<br><br>
			Overall it was pretty easy to make since I had already done <a href="/squat_king" target="_blank">Squat King</a>, 
			nontheless I learnt many new things and expanded my knowledge on old ones.<br>
			It was a little experiment so it lacks QoL and basic functionalities.<br>
			I might (or might not) update it in the future by adding either a menu with <a href="https://docs.python.org/3/library/tkinter.html" target="_blank">Tkinter</a> 
			or a small CLI.
		</p>
		<div style="font-size: 55px; display: block; margin-bottom: 50px;">
			<i class="skill devicon-opencv-plain-wordmark colored" title="Open CV"></i>
			<i class="skill devicon-python-plain colored" title="Python"></i>
		</div>
	</div>
	<div style="display: block; text-align: center;">
		<a href="https://github.com/albertcaballero/hand_recorder" target="_blank" class="btn">Github repository</a>
	</div>
</body>


<style>
p {
	width: 45%;
	margin: auto;
	margin-bottom: 50px;
	text-align: justify;
	font-size: larger;
	letter-spacing: 1.5px;
	line-height: 120%;
}
</style>