<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Albert Caballero</title>
	<meta name="author" content="Albert Caballero">
	<meta name="description" content="Albert Caballero's website!">
	<link rel="icon" type="image/x-icon" href="/static/logo.png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mouse+Memoirs">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chakra+Petch">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
	<link rel="stylesheet" href="/static/albert_main.css">
</head>
<body>
	<h1 style="font-size: 40px; margin-top: 40px;">Albert Caballero</h1>
	<h3 style="font-size: larger;">Software Developer</h3>
	<div class="pfp"></div>
	<div class="contact_links">
		<a href="https://www.github.com/albertcaballero" class="fa fa-github" target="_blank"></a>
		<a href="mailto:albertcaballerocoll@gmail.com" class="fa fa-envelope" target="_blank"></a>
		<a href="https://www.linkedin.com/in/albert-caballero-coll/" class="fa fa-linkedin-square" target="_blank"></a>
	</div>
	<h2>About</h2>
	<p style="font-size: 20px; line-height: 25px;">
		I was born in 2004 in Spain, started programming in a school called <a href="https://42.fr/en/homepage/" target="_blank">42</a><br>
	</p>
	<a href="/about" style="font-weight: bolder;">More...</a>
	<h2>Skills</h2>
	<div style="margin-bottom: 30px;">
		<i class="skill devicon-python-plain colored" title="Python"></i>
		<i class="skill devicon-bash-plain colored" title="bash"></i>
		<i class="skill devicon-c-plain colored" title="C"></i>
		<!-- <i class="skill devicon-cplusplus-plain colored" title="C++"></i> -->
		<i class="skill devicon-css3-plain-wordmark colored" title="CSS 3"></i>
		<i class="skill devicon-html5-plain colored" title="HTML 5"></i>
		<i class="skill devicon-javascript-plain colored" title="JavaScript"></i>
		<i class="skill devicon-ruby-plain colored" title="Ruby"></i>
		<!-- <i class="skill devicon-visualbasic-plain" title="Visual Basic"></i> -->
	</div>
	<div style="margin-bottom: 30px;">
		<i class="skill devicon-dbeaver-plain colored" title="DBeaver"></i>
		<i class="skill devicon-figma-plain colored"></i>
		<i class="skill devicon-django-plain colored" title="Django"></i>
		<i class="skill devicon-git-plain colored" title="Git"></i>
		<i class="skill devicon-nginx-original colored" title="Nginx"></i>
		<!-- <i class="skill devicon-premierepro-plain colored" title="Adobe Premiere Pro"></i> -->
		<i class="skill devicon-opencv-plain-wordmark colored" title="Open CV"></i>
		<i class="skill devicon-postgresql-plain-wordmark colored" title="PostgreSQL"></i>
	</div>
	<a class="btn" href="/curriculum_vitae">Curriculum</a>
	<hr style="width: 60%; margin-top: 20px; border: 2px solid #000000;">
	<div style="margin-top: 40px; margin-bottom: 40px;">
		<h2>My stuff</h2>
		<a class="btn" href="/squat_king" title="A mod for Jump King">Squat King</a>
		<a class="btn" href="/hand_cut" title="Shortcuts with hand gestures on PC">Hand Shortcuts</a>
		<a class="btn" href="/flowers" title="I like photographing flowers">Flowers</a>
		<!-- <a class="btn" href="/faster_reader" title="A tool to help you read faster">Faster Reader</a> -->
	</div>
</body>
</html>

<style>
.pfp{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-image: url("/static/pfp.png");
	background-size: contain;
	display: inline-block;
}
	.pfp:hover{
		background-image: url('/static/pfp2.png');
	}

.skill{
	display: inline-block;
	padding: 5px;
	font-size: 35px;
	width: 40px;
	text-align: center;
	line-height: 22px;
	vertical-align: middle;
	transition: all 0.2s;
}
</style>