<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Naito's site</title>
	<meta name="author" content="Naito">
	<meta name="description" content="I'm Naito, developer and streamer, welcome to my website!">
	<link rel="icon" type="image/x-icon" href="/static/logo.png">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mouse+Memoirs">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chakra+Petch">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play">
</head>
<body>
	{% include '_header_albert.html' %}
</body>


<style>
	body{
		text-align: center;
		background: linear-gradient(#dd99b0, #938bd4);
		background-repeat: no-repeat;
		background-attachment: fixed;
		color: rgb(0, 0, 0);
		font-family: 'Play', Arial;
	}
	h1, h2{
		text-shadow: 0em 0em 0.37em #5fb6cc;
		color: rgb(53, 55, 161);
		text-transform: uppercase;
		font-family: 'Chakra Petch';
		letter-spacing: 2px;
	}
</style>